<Configuration status="debug">
    <Appenders>
        <File name="File1" fileName="messages.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="File1"/>
        </Root>
    </Loggers>
</Configuration>
